.about {
  padding: 10px 30px;
  transition: padding .2s;
  h1 {
    margin-bottom: 10px;
  }
  p {
    font-weight: 600;
    &:nth-child(2) {
      margin-bottom: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.portfolio-item {
  background: $secondary-green;
  max-height: 250px;
  overflow: hidden;
  &.pink {
    background: $pink;
  }
  &_image {
    text-align: center;
  }
}

.contact {
  max-width: 500px;
  padding: 10px 30px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  >a {
    width: 48.5%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background .5s;
    &.li {
      width: 100%;
      border: 2px solid #628cc4;
      display: block;
      margin: 0 auto 10px;
      // &:hover {
      //   background: lighten(#628cc4,30);
      // }
    }
    &.cv {
      border: 2px solid $pink;
      margin-right: 1.5%;
      // &:hover {
      //   background: lighten($pink,40);
      // }
    }
    &.email {
      border: 2px solid $green;
      margin-left: 1.5%;
      // &:hover {
      //   background: lighten($green,40);
      // }
    }
  }
}

@media (hover: hover) {
  .contact a:hover {
    &.li {
      background: lighten(#628cc4,30);
    }
    &.cv {
      background: lighten($pink,40);
    }
    &.email {
      background: lighten($green,40);
    }
  }
}

@media screen and (min-width: $desktop) {
  .about {
    padding: 10px 200px;
  }
}

@media screen and (min-width: $large-screen) {
  .about {
    padding: 10px 400px;
  }
}
