@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway|Montserrat+Subrayada');

html, body {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
	// background-color: $primary-color;
	// background: url("/style/images/background.jpg") center center / cover;
}

// TODO: uncomment when footer is added (for sticky footer)
// body {
// 	position: relative;
//  min-height: 100vh;
// 	TODO: change padding-bottom to height of footer
// 	padding-bottom: 330px;
// }

figure {
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat Subrayada', sans-serif;
	margin: 0;
	letter-spacing: -0.1px;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 16px;
	line-height: 1.3;
	font-weight: 100;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.desktop-only {
	display: none;
}

main.sticky {
	// padding-top: $header-height;
}

#app {
	overflow: hidden;
	>div.content {
		transform: translate3d(0, 0, 0);
		transition: transform 0.75s;
		.modal-background {
			position: fixed;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0);
			z-index: -1;
			transition: background .75s;
		}
		main {
			transition: transform .75s;
		}
		&.modal-open {
			transform: translate3d(0, 0, 0) scale(1.1);
			overflow: hidden;
			.modal-background {
				background: rgba(0, 0, 0, 0.9);
				z-index: 998;
			}
			main {
				// transform: scale(0.8);
			}
		}
	}
}

@media screen and (min-width: $tablet) {

  .mobile-only {
    display: none;
  }

	.desktop-only {
		display: block;
	}

}

@media screen and (min-width: $desktop) {
	h1 {
		font-size: 29px;
	}

	h2 {
		font-size: 22px;
	}

	p {
		font-size: 18px;
	}
}
