.modal {
  overflow-y: scroll; /* has to be scroll, not auto */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  position: fixed;
  background: #fff;
  top: 150%;
  width: 100vw;
  height: 100vh;
  padding: 30px 30px 150px;
  transition: top .5s ease-in-out;
  &.active {
    top: 0;
  }
  h1, h2, h3, h4 {
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  .quote {
    padding: 10px 30px;
    color: $pink;
    font-style: italic;
    p {
      font-weight: 600;
      max-width: 350px;
      margin: 0 auto 20px;
    }
  }
}

.button-container {
  height: 50px;
  padding: 20px 0;
  box-sizing: content-box;
  .button {
    cursor: pointer;
    box-sizing: border-box;
    z-index: 9999;
    overflow: hidden;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 150px;
    max-height: 40px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: $white;
    transition: bottom .75s, max-width .75s, background .5s;
    >span {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid;
      border-radius: 50%;
      font-size: 30px;
      transition: transform 1s, font-size 1s;
    }
    >p {
      position: relative;
      display: inline-block;
      font-size: 14px;
      vertical-align: middle;
      width: 100px;
      text-align: center;
      transition: top 1s;
      top: 0;
      line-height: 14px;
    }
    &.close {
      position: fixed;
      bottom: 30px !important;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 40px;
      >p {
        top: 100px;
      }
      >span {
        transform: rotateZ(45deg);
        border: 0;
        font-size: 50px;
      }
      &.show-text {
        max-width: 150px;
        background: rgba(0, 0, 0, 0.8);
        transition: bottom .75s, max-width .5s, background .5s;
        >span {
          border: 1px solid;
          &::after {
            content: 'CLOSE';
            display: inline-block;
            transform: rotateZ(-45deg);
            top: -75px;
            position: relative;
            font-size: 20px;
            padding-left: 30px;
          }
        }
      }
    }
  }
  &#design-process-button p {
    font-size: 11px;
  }
}

.pink {
  color: $pink;
}
.green {
  color: $secondary-green;
}

.italic {
  font-style: italic;
}

.social-icons_dark {
  display: inline-block;
  text-align: right;
  color: $grey;
  float: right;
  >a {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 15px;
  }
  .l-icon {
    background: url('/style/images/linkedin-dark.svg');
  }
  .t-icon {
    background: url('/style/images/twitter-dark.svg');
  }
}

@media (hover: hover) {
  .button:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}

@media screen and (min-width: $tablet) {
  .modal {
    padding: 30px 200px 150px;
    h1, h2, h3, h4 {
      text-align: left;
    }
  }
  .social-icons_dark {
    float: none;
  }
}

@media screen and (min-width: $large-screen) {
  .modal {
    padding: 30px 400px 150px;
  }
}
