header {
  padding: 10px 0;
  position: sticky;
  height: $header-height;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  transition: top .5s, background-color .5s;
  top: -50px;
  // background-color: $primary-color;
  .logo {
    position: relative;
    transform: rotate(3deg);
    background: url('/style/images/name.png') center center / contain no-repeat;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: width .5s, margin .5s;
  }

  &.sticky {
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid grey;

    .logo {
      width: 40%;
      margin: 0 0 0 10px;
    }

  }

}
