header {
  padding: 10px;
  position: absolute;
  height: $header-height;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  top: 0;
  .social-icons {
    float: right;
    color: $grey;
  }
  h1, h2, h3, h4 {
    color: $grey;
  }
  >div {
    display: inline-block;
  }
}


@media screen and (min-width: $tablet) {
  header {
    position: relative;
    >div {
      display: inline-block !important;
    }
  }
}
