.landing {
	width: 100%;
  height: 90vh;
	background: url('/style/images/joe@2x.jpg') 0 0/cover no-repeat;
	position: relative;
	>div {
		text-align: center;
		position: absolute;
		bottom: 0;
		margin: auto;
		left: 0;
		right: 0;
		padding: 20px 0;
		h1 {
			color: $pink;
		}
		h2 {
			color: $green;
		}
	}
	.gradient {
		position: absolute;
		top: 0;
		opacity: 0.1;
		background: rgba(255, 255, 255, 0); /* For browsers that do not support gradients */
	  /* For Safari 5.1 to 6.0 */
	  background: -webkit-linear-gradient(left, #e833b2, #53a0fe 48%, #01dc57);
	  /* For Opera 11.1 to 12.0 */
	  background: -o-linear-gradient(left, #e833b2, #53a0fe 48%, #01dc57);
	  /* For Fx 3.6 to 15 */
	  background: -moz-linear-gradient(left, #e833b2, #53a0fe 48%, #01dc57);
	  /* Standard syntax */
	  background: linear-gradient(to right, #e833b2, #53a0fe 48%, #01dc57);
	}
}

// .social {
// 	height: 10vh;
// 	margin: 5vh 0;
// 	text-align: center;
// 	>div {
// 		display: inline-block;
// 		height: 100%;
// 		width: 50%;
// 		&#contact {
// 			background: url('/style/images/contact.png') center center / contain no-repeat;
// 		}
// 		&#linkedin {
// 			background: url('/style/images/contact-2.png') center center / contain no-repeat;
// 		}
// 	}
// }
