.landing {
	width: 100%;
  height: 80vh;
	background: url('/style/images/joe@2x.jpg') 0 0/cover no-repeat;
	position: relative;
	>div {
		text-align: center;
		position: absolute;
		bottom: 0;
		margin: auto;
		left: 0;
		right: 0;
		padding: 20px 0;
		h1 {
			color: $pink;
		}
		h2 {
			color: $green;
		}
	}
}

// .social {
// 	height: 10vh;
// 	margin: 5vh 0;
// 	text-align: center;
// 	>div {
// 		display: inline-block;
// 		height: 100%;
// 		width: 50%;
// 		&#contact {
// 			background: url('/style/images/contact.png') center center / contain no-repeat;
// 		}
// 		&#linkedin {
// 			background: url('/style/images/contact-2.png') center center / contain no-repeat;
// 		}
// 	}
// }
